
.list{
    width: 70px;
    border-radius: 70%;
    transition: transform 0.3s ease;
}

#container{
    display: flex;
    border-style: none; 
    background-color: lightgray;
    max-width: 800px;
    margin-left: 400px;
    margin-top: 60px;
    height: 150px;
    border-radius: 20px;
    transition: transform 0.3s ease;
    box-shadow: 4px 4px 4px gray;
    font-weight: 600;
    position: scroll;
}

a{
    text-decoration: none;
    color: black;
}

a:hover .list {
    transform: scale(1.1);
    transition: transform 0.3s ;
    box-shadow: 3px 3px 3px gray;

  }
  
  a:hover .title {
    transform: scale(1.1); 
    transition: transform 0.3s ;
    font-size: 15px;
    text-shadow: 2px 2px 2px gray;
  }
  
.col{
     flex-direction: column;
     padding: 30px;
    
}
 
.title{
    padding-top: 2px;
    padding-left: 5px;
    text-align: center;
    transition: transform 0.3s ease;
}
