#row{
    
    
    max-width: 2000px;
    height: 40%;
    margin-left: 40px;
    display: flex;
    margin-bottom: 50px;
    
}
.column{
    background-color: rgb(198, 194, 194);
    flex-direction: column;
    width: 300px;
    margin-left: 85px;
    margin-right: 40px;
    box-shadow: 2px 2px 2px lightgrey;
    border-radius: 30px;
    padding-bottom: -2px;
    
}
.latest{
    width: 350px;
    border-radius: 150px;
    margin-left: 16px;
    padding-bottom: 5px;
    padding-top: 20px;
    padding-right: 80px;


}
#tt1{
    margin: 30px;
    padding-left: 60px;
    font-size: 30px;
    font-weight: 700;
    
}
.l_title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 40px;
    font-size: 25px;
    font-weight: 600;
}
.btn2{
    position: relative;
    left: 30%;
    top: -10%;
    background-color: transparent;
    font-size: large;
    padding: 4px;
    border-radius: 15px;
    background-color: rgb(228, 173, 173);
    box-shadow: 2px 2px gray;
}
.btn3{
    position: relative;
    left: 50%;
    top: -9%;
    border-radius: 15px;
    background-color: rgb(228, 173, 173);
    box-shadow: 2px 2px gray;
    
}
.arrow{
    width: 27px;
}